<!DOCTYPE html>
<html lang="en">
  <head>
    <title>오늘의 메뉴</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main2.css" />
    <!-- /css 로 바꾸기 -->
  </head>
  <body>
    <main class="container">
      <form class="form" action="/user/login" method="POST">
        <div class="form__image"></div>
        <img class="form__logo" src="images/today_menu_logo.png" />
        <div class="input">
          <input
            id="name"
            name="name"
            type="text"
            class="input__element"
            value="{{ name }}"
            placeholder=" "
          />
          <label class="input__label" for="name">이름</label>
        </div>
        <!-- <div class="input">
          <input
            id="email"
            type="email"
            class="input__element"
            placeholder=" "
          />
          <label class="input__label" for="email">Email</label>
        </div> -->
        <div class="input">
          <input
            id="pasword"
            type="password"
            name="password"
            class="input__element"
            placeholder=" "
          />
          <label class="input__label" for="password">비밀번호</label>
        </div>
        <button type="submit" class="button">
          <div class="button__label">로그인</div>
          <div class="button__icon"></div>
        </button>
      </form>
    </main>

    <script src="/js/main2.js"></script>
  </body>
</html>
