<!DOCTYPE html>
<html>
  <head>
    <title>오늘의 메뉴</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/menu_new.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.8.13/tailwind.min.css"
    />
    <style>
      .star {
        position: relative;
        font-size: 2rem;
        color: #ddd;
      }

      .star input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }

      .star span {
        width: 0;
        position: absolute;
        left: 0;
        color: #ffdf00;
        overflow: hidden;
        pointer-events: none;
      }

    </style>
  </head>
  <body>
    <div class="min-h-screen bg-gray-900 pb-20 grid">
      <h1
        class="flex items-end justify-center h-full w-full text-3xl text-white font-thin uppercase"
      >
        
        <img src="images/today_menu_logo.png"/>
      </h1>

      <div class="grid place-items-center lg:grid-cols-3 _container gap-y-10">
        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
            햄버거<br/>BAGUETTE BURGER / 5,000원</br></br><a href="/review/">리뷰 {{ total_review_burger }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ burger_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="https://post-phinf.pstatic.net/MjAyMDA2MTVfMjEz/MDAxNTkyMjA4MjEwNzM3.qba1Riai_g_lE5OlkrGjg8JeGsDk9SqEbhN2aS1OJGQg.qT_X8hJGEvfu18DdsGNFu0e7l3Xkxd3YL7zrNDzAt34g.JPEG/pc0031002295.jpg?type=w1200"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-1">
            <img
              src="https://post-phinf.pstatic.net/MjAyMDA2MTVfMjEz/MDAxNTkyMjA4MjEwNzM3.qba1Riai_g_lE5OlkrGjg8JeGsDk9SqEbhN2aS1OJGQg.qT_X8hJGEvfu18DdsGNFu0e7l3Xkxd3YL7zrNDzAt34g.JPEG/pc0031002295.jpg?type=w1200"
              alt="햄버거"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>

        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
          닭강정<br/>삼삼돈까스 / 3,000원</br></br><a href="/review/">리뷰 {{ total_review_dakgangjung }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ dakgangjung_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="images/chicken.jpg"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-2">
            <img
              src="images/chicken.jpg"
              alt="스시"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>

        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
          스시<br/>밀양덮밥 / 10,000원</br></br><a href="/review/">리뷰 {{ total_review_sushi }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ sushi_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="images/sushi.jpg"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-2">
            <img
              src="images/sushi.jpg"
              alt="스시"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>

        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
          라면<br/>분식 / 3,000원</br></br><a href="/review/">리뷰 {{ total_review_ramen }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ ramen_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="images/ramyeon.jpg"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-4">
            <img
              src="images/ramyeon.jpg"
              alt="스시"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>

        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
          떡볶이<br/>분식 / 2,500원</br></br><a href="/review/">리뷰 {{ total_review_tteokbokki }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ tteokbokki_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="images/tteokbokki.jpg"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-5">
            <img
              src="images/tteokbokki.jpg"
              alt="떡볶이"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>

        <div class="card rounded-lg px-8 py-20 relative hover:shadow-xl">
          <h2
            class="text-bg-orange name text-black-100 font-extrabold text-center text-xl font-medium uppercase transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full"
          >
          우동<br/>분식 / 5,500원</br></br><a href="/review/">리뷰 {{ total_review_udon }}개</a>
          </h2>
          <div class="rating px-8 py-10 text-center hover:shadow-xl name transition-all duration-500 opacity-0 z-10 absolute top-0 left-0 w-full">
            <span class="star">
              ★★★★★
              <span style="width: {{ udon_review }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="5"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
          </div>
          <a
            href="images/udon_bg.jpg"
            class="buy buy-orange absolute bottom-0 bg-gray-600 text-white hover:text-black font-medium px-4 py-2 rounded-full transition-all duration-500 opacity-0 z-10 bg-orange"
            >주문하기</a
          >
          <div class="image image-6">
            <img
              src="images/udon_bg.jpg"
              alt="우동"
              class="product rounded transition-all duration-500"
            />
          </div>
        </div>
      <!-- end -->
    </div>

    <script src="js/menu_new.js"></script>
  </body>
</html>
