<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>리뷰 작성</title>
    <link rel="stylesheet" href="css/review.css" />
  </head>
  <body>
    <div class="wrap">
      <h1>후기</h1>
      

      <form name="reviewform" class="reviewform" method="post" action="/save">
        <input type="hidden" name="rate" id="rate" value="0" />
        <p class="title_star">메뉴 이름</p>
        <div class="review_rating rating_point">
          <div class="warning_msg">별점을 선택해 주세요.</div>
          <div class="rating">
            <span class="star">
              ★★★★★
              <span>★★★★★</span>
              <input
                id="star_rate"
                type="range"
                oninput="drawStar(this)"
                value="1"
                step="1"
                min="0"
                max="10"
              />
            </span>
            <!-- 1부터 10점 (별 3.5개면 7) -->
        </div>
        <div class="review_contents">
          <div class="warning_msg">5자 이상의 리뷰 내용을 작성해 주세요.</div>
          <textarea rows="10" class="review_textarea"></textarea>
        </div>
        <div class="cmd">
          <input type="button" name="save" id="save" value="등록" />
        </div>
      </form>
    </div>
    <script src="js/jquery.slim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.4/jquery.rateyo.min.js"></script>
    <script src="js/review.js"></script>
  </body>
</html>
