<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/burger.css" />
    <link rel="stylesheet" href="/css/reviewpage.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <script src="/js/jquery.slim.js"></script>
    <title>오늘의 메뉴 - 리뷰 목록</title>
  </head>
  <body>
    <div id="sidebar">
      <ul class="menu">
        <li class="menu-global menu-top" onclick="window.location.href = '/';">
          <span class="menu-text">로그아웃</span>
        </li>
        <li
          class="menu-global menu-middle"
          onclick="window.location.href = '/recommend.html';"
        >
          <span class="menu-text">추천 메뉴</span>
        </li>
        <li
          class="menu-global menu-bottom"
          onclick="window.location.href = '/history';"
        >
          <span class="menu-text">주문 내역</span>
        </li>

        <div class="menu-close fa fa-close fa-3x"></div>
        <div class="click-blocker"></div>
      </ul>
    </div>
    <header></header>
    <h1>{{ food_name }}<br />리뷰 모음</h1>
    <div class="rating score">
      <span class="star">
        ★★★★★
        <a style="color: black">({{ total_review_count }}개의 리뷰)</a>
        <span style="width: {{ total_star }}em">★★★★★</span>
        <input
          id="star_rate"
          type="range"
          value="1"
          step="1"
          min="0"
          max="10"
          name="rate_param"
        />
      </span>
    </div>
    <!-- TODO: right up down left rotateL rotateR scaleUp scaleDown 배열 섞기 -->
    <main>
      <section>
        {% for review in reviews %}
        <div class="review review-left">
          <div class="name">{{ review.writer }}</div>
          <div class="rating score">
            <span class="star">
              ★★★★★
              <span style="width: {{ review.rate * 10 }}%">★★★★★</span>
              <input
                id="star_rate"
                type="range"
                value="1"
                step="1"
                min="0"
                max="10"
                name="rate_param"
              />
            </span>
            <div class="content">{{ review.review_txt }}</div>
          </div>
        </div>
        {% endfor %}
      </section>
    </main>

    <script src="/js/burger.js"></script>
    <script src="/js/reviewpage.js"></script>
  </body>
</html>
