<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reviewpage.css" />
    <title>사용자 리뷰 목록</title>
  </head>
  <body>
    <header></header>
    <h1>{{ food_name }}<br />리뷰 모음</h1>
    <!-- TODO: right up down left rotateL rotateR scaleUp scaleDown 배열 섞기 -->
    <main>
      <section>
        {% for review in reviews %}
        <div class="review review-right">
          <div class="review">
            <div class="name">{{ review.writer }}</div>
            <div class="rating score">
                <span class="star">
                  ★★★★★
                  <span style="width: {{ review.rate * 10 }}%">★★★★★</span>
                  <input
                    id="star_rate"
                    type="range"
                    value="1"
                    step="1"
                    min="0"
                    max="10"
                    name="rate_param"
                  />
                </span>
            <div class="content">{{ review.review_txt }}</div>
          </div>
        </div>
        {% endfor %}
      </section>
    </main>

    <script src="/js/reviewpage.js"></script>
  </body>
</html>
