<!DOCTYPE html>
<html lang="en">
  <head>
    <title>오늘의 메뉴</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/sign_favorite2.css" />
    <script src="js/jquery.slim.js"></script>
  </head>
  <body>
    <div style="text-align: center">
      <h1 id="per">오늘의 메뉴</h1>
      <h2 style="color: white">{{ name }}님 어서오세요.</h2>
    </div>
    <div class="rb-box">
      <p>1. 선호하는 음식 종류</p>
      <div id="rb-1" class="rb">
        <div class="rb-tab" data-value="1">
          <div class="rb-spot">
            <span class="rb-txt">분식</span>
          </div>
        </div>
        <div class="rb-tab" data-value="2">
          <div class="rb-spot">
            <span class="rb-txt">햄버거</span>
          </div>
        </div>
        <div class="rb-tab" data-value="3">
          <div class="rb-spot">
            <span class="rb-txt">일식</span>
          </div>
        </div>
        <div class="rb-tab" data-value="4">
          <div class="rb-spot">
            <span class="rb-txt">한식</span>
          </div>
        </div>
        <div class="rb-tab" data-value="5">
          <div class="rb-spot">
            <span class="rb-txt">국밥/냉면</span>
          </div>
        </div>
      </div>

      <p>2. 좋아하는 맵기 단계</p>
      <div id="rb-5" class="rb">
        <div class="rb-tab" data-value="1">
          <div class="rb-spot">
            <span class="rb-txt">맵찔이</span>
          </div>
        </div>
        <div class="rb-tab" data-value="2">
          <div class="rb-spot">
            <span class="rb-txt">순한</span>
          </div>
        </div>
        <div class="rb-tab" data-value="3">
          <div class="rb-spot">
            <span class="rb-txt">보통</span>
          </div>
        </div>
        <div class="rb-tab" data-value="4">
          <div class="rb-spot">
            <span class="rb-txt">매운</span>
          </div>
        </div>
        <div class="rb-tab" data-value="5">
          <div class="rb-spot">
            <span class="rb-txt">많이 매운</span>
          </div>
        </div>
      </div>

      <p>3. 선호 가격대</p>
      <div id="rb-3" class="rb">
        <div class="rb-tab" data-value="1">
          <div class="rb-spot">
            <span class="rb-txt">5,000원 이하</span>
          </div>
        </div>
        <div class="rb-tab" data-value="2">
          <div class="rb-spot">
            <span class="rb-txt">7,000원 이하</span>
          </div>
        </div>
        <div class="rb-tab" data-value="3">
          <div class="rb-spot">
            <span class="rb-txt">7,000원 초과</span>
          </div>
        </div>
      </div>

      <p>4. 채식 주의자?</p>
      <div id="rb-2" class="rb">
        <div class="rb-tab" data-value="1">
          <div class="rb-spot">
            <span class="rb-txt">네</span>
          </div>
        </div>
        <div class="rb-tab" data-value="2">
          <div class="rb-spot">
            <span class="rb-txt">아니오</span>
          </div>
        </div>
      </div>

      <p>5. 알레르기 음식</p>
      <div id="rb-8" class="rb">
        <div class="rb-tab" data-value="1">
          <div class="rb-spot">
            <span class="rb-txt">유제품</span>
          </div>
        </div>
        <div class="rb-tab" data-value="2">
          <div class="rb-spot">
            <span class="rb-txt">견과류</span>
          </div>
        </div>
        <div class="rb-tab" data-value="3">
          <div class="rb-spot">
            <span class="rb-txt">생선</span>
          </div>
        </div>
        <div class="rb-tab" data-value="4">
          <div class="rb-spot">
            <span class="rb-txt">밤</span>
          </div>
        </div>
        <div class="rb-tab" data-value="5">
          <div class="rb-spot">
            <span class="rb-txt">곡류</span>
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="button-box">
        <button
          class="button trigger"
          onclick="location.href='/recommend.html'"
        >
          추천 메뉴 보기
        </button>
      </div>
    </div>
    <script src="js/sign_favorite2.js"></script>
  </body>
</html>
